era: Run3_2024
luminosity: 110480.00  # pb-1, From https://docs.google.com/presentation/d/1H_WuzeAGkW3xZvo3oN4qGZWfw2eBuUzMhPLeShYAQoU/edit?slide=id.g36971dee1d1_0_0#slide=id.g36971dee1d1_0_0: DISCLAIMER: The 2025 results are extracted running brilcalc without normtag, following the latest LUMI POG recommendation, corresponding to the online luminosity. The results will be further updated with preliminary offline luminosity once the LUMI POG will have converged with the new normtag.
nano_version: v15
crossSectionsFile: FLAF/config/crossSections13p6TeV.yaml
MET_flags:  # https://twiki.cern.ch/twiki/bin/view/CMS/MissingETOptionalFiltersRun2#Run_3_2024_data_and_MC_Recommend
  - Flag_goodVertices
  - Flag_globalSuperTightHalo2016Filter
  - Flag_EcalDeadCellTriggerPrimitiveFilter
  - Flag_BadPFMuonFilter
  - Flag_BadPFMuonDzFilter
  - Flag_hfNoisyHitsFilter
  - Flag_eeBadScFilter
  - Flag_ecalBadCalibFilter
lumiFile: Corrections/data/golden_json/Cert_Collisions2025_391658_398903_Golden.json # copied from twiki instructions on where to find golden jsons https://twiki.cern.ch/twiki/bin/viewauth/CMS/PdmVRun3Analysis#2025_Era_definition 
